#
# Global rules
#

# Wifi powersave
ACTION=="add", SUBSYSTEM=="net", KERNEL=="wlp*s*", RUN+="/usr/bin/iw dev %k set power_save on"

# Turn off ethernet
ACTION=="add", SUBSYSTEM=="net", KERNEL=="enp*s*", RUN+="/usr/bin/ip link set dev %k down"

# Disable Wake on LAN
ACTION=="add", SUBSYSTEM=="net", KERNEL=="enp*s*", RUN+="/usr/bin/ethtool -s %k wol d"

# Enable runtime PM for all PCI devices
ACTION=="add", SUBSYSTEM=="pci", ATTR{power/control}="auto"

