[Unit]
Description=Set vconsole keyboard repeat rate

[Service]
Type=oneshot
RemainAfterExit=yes
StandardInput=tty
StandardOutput=null
ExecStart=/usr/bin/kbdrate -d 206 -r 55 

[Install]
WantedBy=multi-user.target

