[Unit]
Description=Pacman mirrorlist update

[Service]
Type=oneshot
ExecStart=/usr/bin/reflector --protocol http --latest 10 --number 5 --sort rate --save /etc/pacman.d/mirrorlist
